/*  your css code here. If applicable */
.main{
	color: grey;
	text-align : center;
	height : 20vh;
	display : flex;
	justify-content : center;
	align-items : center;
}
.circle{
	height :40px;
	width : 40px;
	padding : 5px;
	margin : 40px;
	display : flex;
	justify-content : center;
	align-items : center;
	border : 2px solid grey;
	border-radius : 50%
}
.circle.active{
	background-color: blue;
}
.buttons{
	display : flex;
	justify-content : center;
	align-items : center;
}
button : disabled{
	background-color : grey;
}
#prev , #next{
	background-color : blue;
	color : white;
	height : 25px;
	width : 100px;
	margin : 10px;
	padding : 20px;
	display : flex;
	align-items : center;
	justify-content : center;
	border-radius : 10px;
}

