/*  your css code here. If applicable */
.main{
	color: grey;
	text-align : center;
	height : 20vh;
	display : flex;
	justify-content : center;
	align-items : center;
}
.circle{
	height :40px;
	width : 40px;
	padding : 5px;
	margin : 40px;
	display : flex;
	justify-content : center;
	align-items : center;
	border : 2px solid blue;
	border-radius : 50%
}
